spring.datasource.url: jdbc:h2:file:./camunda-h2-database

server:
  port: 8080

camunda.bpm:
  admin-user:
    id: demo
    password: demo
  filter:
    create: All tasks
  generic-properties:
    properties:
      historyTimeToLive: P1D